*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #20ac76;
}

#topmostRegion{
    width: 100%;
    height: 60px;
    border: 1px solid black;
    background-color: #20ac76;
}
#jumia_gif_img{
  margin: auto;
  width: 80%;
}

#logo_container{
    width: 100%;
    height: 40px;
    background-color: #f1f1f2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#see_div img{
   width: 17px;
}

#jumia_logo{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#jumiaLogo{
    width: 65px;
}

#payLogo{
    width: 110px;
}
#logisticLogo{
   width: 350px;
   position: absolute;
   top: -5.45%;
   right: 5%;
}

#Search_container{
    width: 100%;
    height: 80px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
#gap_container{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#jumia_on_white img{
    width: 150px;
}

#search_div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#search_div input{
    font: 25px;
    width: 600px;
    padding: 10px 100px;
    border: 0.5px solid grey;
    border-radius: 7px;
}
#search_div button{
    padding: 10px 20px;
    background-color: #f68b1e;
    border: 0;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    border-radius: 5px;

}

#input-fielddiv i{
    position: absolute;
    right: 70%;
    top: 30px;
    color: grey;
}

#search_div input::placeholder{
    font-size: 16px;
}


#acc_div, #help_div, #cart_div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-weight: 600;
    font-size: 16px;
}

#acc_div, #help_div{
    display: block;
    position: relative;
   
}

#acc_divchild{
    width: 180px;
    height: 200px;
    background-color: white;
    display: none;
    position: absolute;
    border: 1px solid white;
    z-index: 2px;

}
#help_divchild{
    width: 180px;
    height: 320px;
    background-color: white;
    display: none;
    position: absolute;
    border: 1px solid white;
    z-index: 2px;
}

#acc_div:hover #acc_divchild{
    display: block;
}

#acc_div:hover{
    Color: #f68b1e;
}
#help_div span:hover{
    Color: #f68b1e;
}
#help_div p:hover{
    background-color: grey;
}
#cart_div:hover{
    Color: #f68b1e;
}
#help_div:hover #help_divchild{
    display: block;
}


#broader_div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gap_down_container{
    width: 80%;   
}

#first_advert_lap{
    width: 100%;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#for_dropdown{
    width: 15%;
    height: 400px;
    background-color: white;
    line-height: 15px;
    padding: 10px;
    gap: 30px;
    z-index: 1;
    border: 0.5px solid black;
}
#store_summary{
    width: 100%;
    height: 320px;
    background-color: white;
    padding: 10px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

     
}  
#store_summary img{
    width: 160px;
}       

#phones_body2{
    width: 100%;
    height: 500px;
   
   
}
#phones_body, #laptop_body, #fragnance_body, #skincare_body, #groceries_body, #homedecor_body {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
    
}


#phones_con_header, #laptops_Categories, #fragncesCategories,#skincareCategories, #groceriesCategories, #homeDecorCategories {
    width: 100%;
    height: 45px;
    background-color: #ffc108;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

#phpnesBody img{
    width: 150px;
    height: 120px;
}


#phpnesBody{
    width: 10%;
    line-height: 20px;
    padding: 10px;
    background-color: white;
}

#parentSupermaket, #parentHealth, #parentHomeOffice {
    display: block;
    position: relative;
}

#childSupermarket, #childHealthDiv, #childHomeOffice{
    display: none;
    position: absolute;
    width: 780px;
    height: 420px;
    background-color: white;
    left: 60%;
    margin-top: -45px;
    margin-left: 84px;
    
}

#childDivCon, #childHealthDivContainer, #childHomeOfficeCon{
    display: flex;
    align-items: start;
    justify-content: space-between;
    line-height: 7px;
    padding: 10px;
}


#parentSupermaket:hover #childSupermarket{
    display: block;
}   

#parentHealth:hover #childHealthDiv{
    display: block;
}
#parentHomeOffice:hover #childHomeOffice{
    display: block;
}   

#childSupermarket button{
    border: 0;
    background-color: transparent;
    font-size: 10px;
    color: grey;
}

#childSupermarket button:hover{
    color: black;
    font-weight: 600;
}
#childHealthDiv button:hover{
    color: black;
    font-weight: 600
}

#childHomeOffice button:hover{
    color: black;
    font-weight: 600
}

#childHealthDiv button{
    border: 0;
    background-color: transparent;
    font-size: 10px;
    color: grey;
}

#childHomeOffice button{
    border: 0;
    background-color: transparent;
    font-size: 10px;
    color: grey;
}

#for_dropdown span{
    font-size: 10px;
}

#for_dropdown span:hover{
    color: #ff9900;
    font-size: 700;
} 

/* for the oneProduct page */

#broadContainer{
    width: 80%;
    height: 400px;
    margin: auto;
    background-color: #f1f1f2;
    border: 0.5px solid black;
    display: flex;
    justify-content: space-between;
}

#dispOneProd{
    width: 75%;
    background-color: white;
}
#addressDiv{
    width: 100%;
    background-color: white;
    padding: 8px;
    margin-bottom: 150px;
}

#addressDiv img{
    width: 80px;
    margin-bottom: 10px;
    
}

#rightAddress{
    width: 19%;
    padding: 20px;
  
}

#oneProductBody{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    line-height: 25px;
    background-color: white;  
}
#oneProductImgContainer img{
    width: 300px;
    height: 300px;
}

#oneProductDetail{
    width: 75%;
    background-color: white;
}
#addToCart{
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #f68b1e;
    border: 0;
    border-radius: 5px;
}

#oneProductdetail{
    width: 100%;
    line-height: 25px;
    padding: 20px;
    background-color: white;
    margin-top: 10px; 
}

#oneProductdetail img{
    width: 100%;
    height: 75vh;
    margin: 10px auto;

}

#states{
    width: 100%;
    margin-top: 5%;
    padding: 8px 20px;
}

#smallImages img{
    width: 35%;
    height: 15vh;
}

#smallImages {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}


#smallCartBox{
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    background-color: white;
    position: sticky;
    
}

#smallCartBox button{
    width: 100%;
    margin: auto;
    background-color: #ff9900;
    border: 0;
    border-radius: 3px;
    padding: 5px 8px;
}

#showQuanitity button{
    padding: 10px;
    background-color: #f68b1e;
    border: 0;
    border-radius: 3px;

}


#showCartsub{
    width: 100%;
    height: 10vh;
   display: flex;
   align-items: center;
}
